<nav class="navbar navbar-expand-lg navbar-light bg-dark">
    <a class="navbar-brand" >Tarefas App</a>

</nav>
<div class="container mt-4">
    <h3>Tarefas</h3>
    <hr />
    <form [formGroup] = "form" (ngSubmit)="submit()">
        <div class="row">
            <div class="col-md-6">
                <input type="text"  class="form-control" formControlName="descricao" />        
            </div>
            <div class="col-md-1">
                <button type="submit" [disabled]="!form.get('descricao').valid" class="btn btn-primary"> Adicionar</button>        
            </div>
        </div>

    </form>
    <hr />
    <div class="row">
        <div class="col-md-7">
            <ul class="list-group">
                <li *ngFor="let todo of todos"
                 class= "list-group-item d-flex justify-content-between align-items-center">
                 <span class="{{todo.concluido ? 'concluido' : ''}}">{{todo.descricao}} {{todo.dataConcluido}}</span>
                 <div class="btn-group">
                    <button class="btn btn-success"
                     [disabled]= "todo.concluido"
                     (click)="concluir(todo)">Concluida</button>
                    <button class="btn btn-danger" (click)="delete(todo)" >Excluir</button>                   
                  </div>                 
                </li>               
              </ul>
        </div> 

    </div>

</div>

